<ul>
  <li>
    Daytime Image by
    <a
      href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      >Engin Akyurt</a
    >
    from
    <a
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      >Pixabay</a
    >
  </li>

  <li>
    Nighttime Image by
    <a
      href="https://pixabay.com/users/bessi-909086/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      >Bessi</a
    >
    from
    <a
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      >Pixabay</a
    >
  </li>
</ul>
