<div class="menu" (click)="showMenu = !showMenu">
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
</div>
<div class="menu-pane" *ngIf="showMenu" (click)="showMenu = false">
  <ol>
    <li>
      <button (click)="toggleMetric()">
        {{ unitsToggleTo$ | async | titlecase }}
      </button>
    </li>
    <li>
      <button (click)="showAboutBox()">About</button>
    </li>
  </ol>
</div>
<div
  class="menu-overlay-under"
  *ngIf="showMenu"
  (click)="showMenu = false"
></div>
