<ul>
  <li *ngIf="sinceSunrise > 0 && sinceSunrise < tilSunset">
    {{ sinceSunrise / 1000 | timespan: 'hm' }} since sunrise
  </li>
  <li *ngIf="(sinceSunset > 0 && sinceSunset < tilSunrise) || tilSunrise < 1">
    {{ sinceSunset / 1000 | timespan: 'hm' }} since sunset
  </li>
  <li *ngIf="tilSunrise > 0">
    {{ tilSunrise / 1000 | timespan: 'hm' }} til sunrise
  </li>
  <li *ngIf="tilSunset > 0 && tilSunrise < 0 && tilSunset < sinceSunrise">
    {{ tilSunset / 1000 | timespan: 'hm' }} til sunset
  </li>
  <li>{{ sun.sunrise | date: 'mediumTime' }} sunrise</li>
  <li>{{ sun.sunset | date: 'mediumTime' }} sunset</li>
  <li>{{ dayPct * 864 | timespan: 'hm' }} daylight</li>
  <li>{{ nightPct * 864 | timespan: 'hm' }} night</li>
</ul>
