<app-overlay *ngIf="loading$ | async">
  <app-loading-spinner></app-loading-spinner>
</app-overlay>

<app-overlay *ngIf="showAbout$ | async" (click)="hideAboutBox()">
  <app-about></app-about>
</app-overlay>

<app-refresh-indicator *ngIf="!(loading$ | async)"></app-refresh-indicator>

<app-menu></app-menu>

<div class="error-bar" *ngIf="geolocationPositionError$ | async as error">
  Error: {{ error.message }}
</div>

<div *ngIf="weather$ | async as weather" class="weather">
  <!-- <div>{{ (location$ | async)!.coords.latitude }}</div> -->
  <div class="city">{{ weather.cityName }}</div>
  <app-temperature
    [temperature]="weather.temperature || 0"
    [temperatureFeels]="weather.temperatureFeels"
  ></app-temperature>
  <app-wind [wind]="weather.wind"></app-wind>
  <app-humidity [humidity]="weather.humidity"></app-humidity>
  <app-conditions [conditions]="weather.weatherConditions"></app-conditions>
  <app-uvi *ngIf="weather.uvi > 0" [level]="weather.uvi"></app-uvi>
  <app-sun [sun]="weather.sun"></app-sun>
  <app-moon></app-moon>
</div>
