<app-menu (showCreditsEvent)="showCredits($event)"></app-menu>

<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
  <div class="temperature">
    {{ temperature | temperatureConvert: 'c' | roundNumber }}&deg; C
    <span
      *ngIf="
        (temperature | temperatureConvert: 'c' | roundNumber) -
          (temperatureFeels | temperatureConvert: 'c' | roundNumber) !==
        0
      "
      class="feels-like"
      >{{ temperatureFeels | temperatureConvert: 'c' | roundNumber }}&deg;
      C</span
    >
  </div>
  <!-- <div>{{ clouds | cloudsVerbal }}</div> -->
  <!-- <div
    style="display: inline-block; transform: rotate({{ wind.direction }}deg)"
  >
    ^
  </div> -->
  <div class="wind">
    <app-compass angle="{{ wind.direction }}"></app-compass>
    <div>wind: {{ wind.speed | speedConvert: 'kmh' }} km/h</div>
  </div>
  <div class="conditions" *ngFor="let weatherCondition of weatherConditions">
    <div class="condition">
      <img
        src="https://openweathermap.org/img/wn/{{ weatherCondition.icon }}.png"
      />
      <div>{{ weatherCondition.description }}</div>
    </div>
  </div>
</div>

<p>{{ url }}</p>

<app-footer *ngIf="showTheCredits"></app-footer>
