<app-overlay *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</app-overlay>

<app-overlay *ngIf="showAbout$ | async" (click)="hideAboutBox()">
  <app-about></app-about>
</app-overlay>

<app-refresh-indicator *ngIf="!loading"></app-refresh-indicator>

<app-menu></app-menu>

<div *ngIf="!loading" class="weather">
  <div class="city">{{ weatherData.cityName }}</div>
  <app-temperature
    [temperature]="weatherData.temperature"
    [temperatureFeels]="weatherData.temperatureFeels"
  ></app-temperature>
  <app-wind [wind]="weatherData.wind"></app-wind>
  <app-humidity [humidity]="weatherData.humidity"></app-humidity>
  <app-conditions [conditions]="weatherData.weatherConditions"></app-conditions>
  <app-uvi *ngIf="weatherData.uvi > 0" [level]="weatherData.uvi"></app-uvi>
  <app-sun [sun]="weatherData.sun"></app-sun>
  <app-moon></app-moon>
</div>
