<h1>WeatherNg</h1>

<p>
  By
  <a href="{{ webUrl }}" target="_blank" rel="nofollow"
    >Alexander Koik-Cestone</a
  >
</p>

<ol>
  <li>
    Daytime Image by
    <a
      href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      target="_blank"
      rel="nofollow"
      >Engin Akyurt</a
    >
    from
    <a
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      target="_blank"
      rel="nofollow"
      >Pixabay</a
    >
  </li>

  <li>
    Nighttime Image by
    <a
      href="https://pixabay.com/users/bessi-909086/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      target="_blank"
      rel="nofollow"
      >Bessi</a
    >
    from
    <a
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      target="_blank"
      rel="nofollow"
      >Pixabay</a
    >
  </li>

  <li>
    Location Data provided by
    <a href="https://locationiq.com/" target="_blank" rel="nofollow"
      >LocationIQ</a
    >
  </li>

  <li>
    Weather Data provided by
    <a href="https://openweathermap.org/" target="_blank" rel="nofollow"
      >OpenWeatherMap</a
    >
  </li>
</ol>
