<h1>WeatherNg</h1>

<p>
  By
  <app-simple-link href="{{ webUrl }}">Alexander Koik-Cestone</app-simple-link>
</p>

<ol>
  <li>
    Daytime Image by
    <app-simple-link
      href="https://pixabay.com/users/engin_akyurt-3656355/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      >Engin Akyurt</app-simple-link
    >
    from
    <app-simple-link
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2680242"
      >Pixabay</app-simple-link
    >
  </li>

  <li>
    Nighttime Image by
    <app-simple-link
      href="https://pixabay.com/users/bessi-909086/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      >Bessi</app-simple-link
    >
    from
    <app-simple-link
      href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877"
      >Pixabay</app-simple-link
    >
  </li>
  <li>
    Where is London?
    <app-simple-link
      href="https://www.latlong.net/place/london-the-uk-14153.html"
      >LatLong.net</app-simple-link
    >
  </li>

  <li>
    Location Data provided by
    <app-simple-link href="https://locationiq.com/">LocationIQ</app-simple-link>
  </li>

  <li>
    Weather Data provided by
    <app-simple-link href="https://openweathermap.org/"
      >OpenWeatherMap</app-simple-link
    >
  </li>
</ol>

<h2>Resources that helped me</h2>
<ol>
  <li>
    NgRx Creator Functions 101 by
    <app-simple-link
      href="https://timdeschryver.dev/blog/ngrx-creator-functions-101"
      >Tim Deschryver</app-simple-link
    >
  </li>
  <li>
    Moon's Lunar Phase in JavaScript by
    <app-simple-link
      href="https://jasonsturges.medium.com/moons-lunar-phase-in-javascript-a5219acbfe6e"
      >Jason Sturges</app-simple-link
    >
  </li>
</ol>
